OPENAI_API_KEY=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
OPENAI_TEXT_MODEL=gpt-4.1-mini
WORDPRESS_BASE_URL=https://www.buddhikaviraj.com
WORDPRESS_USERNAME=Buddhika
WORDPRESS_APP_PASSWORD=IrfFJL1AhSYkhuiVbIQGen1Y
